<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- 配置 SpringMVC -->
    <!-- 开启 SpringMVC 注解模式 -->
    <!-- 简化配置：-->
    <!-- 自动注册 DefaultAnootationHandlerMapping, AnotationMethodHandlerAdapter-->
    <!-- 提供一些列：数据绑定，数字和日期的 format @NumberFormat, @DateTimeFormat, xml,json 默认读写支持-->
    <mvc:annotation-driven/>

    <!-- 静态资源默认 servlet 配置 -->
    <!-- 加入对静态资源的处理 -->
    <!-- 允许使用"/"做整体映射 -->
    <mvc:default-servlet-handler/>

    <!-- 配置 jsp 显示 ViewResolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>
